.toolbar.scriptonly
    md-button(
        aria-label="button.text"
        ng-repeat="button in toolbarButtons"
        ng-disabled="!isToolbarButtonEnabled(button.id)"
        ng-click="onToolbarButtonClick(button.id)"
        ng-bind="button.text"
    )

